@using System.Security.Claims
@using TP5WebTransactionnel.Models;
@using TP5WebTransactionnel.ViewModels
@model HomeIndexViewModel;
@{
    ViewData["Title"] = Resource.PrendreReserv;

   string email = this.User.FindFirstValue(ClaimTypes.Email);
}

<div class="text-center row">
    <div class="d-none d-lg-block col-lg-4 align-self-center">
            <img class="img-fluid"  src="Img/plate3.jpg"/>
    </div>
    <form class="col-md-12 col-lg-8" asp-action="Index">
        <h2>@Resource.VotreReserv</h2>
        <div class="form-horizontal">
            <div class="form-group row">
                <label asp-for="Reservation.Nom" class="col-form-label col-md-3 col-sm-12"></label>
                <div class="col-md-9 col-sm-12">
                    <input asp-for="Reservation.Nom" class="form-control" value="@User.Identity.Name"/>
                    <span asp-validation-for="Reservation.Nom" class="text-danger"></span>
                </div>
            </div>
            <hr/>
            <div class="form-group row">
                <label asp-for="Reservation.Courriel" class="col-form-label col-md-3 col-sm-12"></label>
                <div class="col-md-9 col-sm-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text">@("@")</span>
                        </div>
                    <input asp-for="Reservation.Courriel" class="form-control" type="email" class="form-control" value="@email">
                    </div>
                        <span asp-validation-for="Reservation.Courriel" class="text-danger"></span>
                </div>
            </div>
            <hr/>
            <!--<div asp-validation-summary="ModelOnly" class="text-danger"></div>-->
            <div class="form-group row">
                <label asp-for="Reservation.NbPersonne" class="col-form-label col-md-3 col-sm-12"></label>
                <div class="col-md-9 col-sm-12">
                    <input asp-for="Reservation.NbPersonne"  id="spinnerNbPersonne" class="form-control w-100" />
                    <span asp-validation-for="Reservation.NbPersonne" class="text-danger"></span>
                </div>
            </div>
            <hr />
                <div class="form-group row">
                    <label asp-for="Reservation.DateReservation" class="col-form-label col-md-3 col-sm-12"></label>
                    <div class="col-md-9 col-sm-12">
                        <input asp-for="Reservation.DateReservation" class="form-control" id="datePicker" type="text" />
                        @*<input asp-for="Reservation.DateReservation" class="form-control" />*@
                        <span asp-validation-for="Reservation.DateReservation" class="text-danger"></span>
                    </div>                            
                </div>
        </div>
        <hr />
            <div class="form-group row">
                <label asp-for="Reservation.ChoixMenu" class="col-form-label col-md-3 col-sm-12"></label>
                <div class="col-md-9 col-sm-12">
                        <select asp-for="Reservation.ChoixMenu.Id" class="form-control">
                        @foreach (MenuChoice mn in Model.ListChoixMenu)
                        {
                            <option value="@mn.Id">@mn.Description</option>
                        }
                    </select>
                    <span asp-validation-for="Reservation.ChoixMenu.Id" class="text-danger"></span>
                </div>
            </div>
        <div class="text-center">
            <input type="submit" value="@Resource.ConfirmReserv" class="btn btn-primary" />
        </div>
    </form>
</div>
@section Scripts { 
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
     <script type="text/javascript">
            $("#datePicker").datepicker($.datepicker.regional["fr"]);
            $("#spinnerNbPersonne").spinner({
                max: 6,
                min: 0
            });
      </script>

}
